
.cwrap::after {
    content: "";
    clear: both;
    display: table;
}

.content{
    height: 450px;
}

.sidebar{
    background-color: lightblue;
}

.sidebar ul li{
    display: inline-block;
}

footer{
    background-color: yellow;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

